.logo {
    background-image: url("https://www.angloamerican.com/~/media/Images/A/Anglo-American-Group/Universal/logo/anglo-american-logo-white.svg?la=en");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    width: 280px;
    display: inline-block;
  }
  
  .nav-menu {
    /* font-size: 1rem; */
    text-transform: uppercase;
  }
  
  .icon-error {
    color: red;
  }