<mat-card>


    <div fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px">

        <mat-form-field fxFlex="20">
            <mat-label>From date</mat-label>
            <input matInput [matDatepicker]="picker" [value]="selectedDateFrom" (dateChange)="dateFromChanged()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    
        <mat-form-field fxFlex="20">
            <mat-label>Select Commodity</mat-label>
            <mat-select [(value)]="selectedCommodityId">
                <mat-option *ngFor="let commodity of this.commodities" value="{{commodity.id}}" 
                 (click)="commodityItemSelected()"> {{commodity.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="20">
            <mat-label>Select Model</mat-label>
            <mat-select [(value)]="selectedTradingModelId">
                <mat-option *ngFor="let tradingModel of this.tradingModels" value="{{tradingModel.id}}" 
                (click)="tradingModelItemSelected()">{{tradingModel.name}}</mat-option>

            </mat-select>
        </mat-form-field>

    </div>

</mat-card>

<div>
    <table mat-table [dataSource]="dataSource" matSort>


        <ng-container matColumnDef="commodity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Commodity </th>
            <td mat-cell *matCellDef="let row"> {{row.commodity.name}} </td>
        </ng-container>
        
        <ng-container matColumnDef="tradingModel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
            <td mat-cell *matCellDef="let row"> {{row.tradingModel.name}} </td>
        </ng-container>

        <ng-container matColumnDef="newTradeAction">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> New Trade Action </th>
            <td mat-cell *matCellDef="let row"> {{row.newTradeAction}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of actions"></mat-paginator>
</div>