<div>
  <div>
    <router-outlet></router-outlet>
  </div>

  <div id="footer">
    <div class="app-component navbar-fixed-bottom navbar-inner footer">
      <div class="container">
        <footer>
          <div class="app-component vcenter_text center-block">
            <p class="text-center text-muted">
              <span class="appName" style="font-style:italic">Analytics Dashboard</span>
              <span class="appName"></span> &copy; {{getYear()}}
              <a href="http://www.angloamerican.com" target="_blank">www.angloamerican.com</a>
            </p>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>